config MY_WIFI_KEYS
    bool "Config my wifi storage for SSID / Passphrases"
    select FLASH
    select FLASH_MAP
    select FILE_SYSTEM
    select FSTAB
    select FILE_SYSTEM_LITTLEFS
    select FILE_SYSTEM_LIB_LINK
    select JSON_LIBRARY

config MY_WIFI_KEYS_SHELL
    bool "Add shell option for key storage"
    select SHELL
    select FILE_SYSTEM_SHELL
